* {
    font-family: "Montserrat", serif;
}
body {
    background: linear-gradient(#bff6eb, #f3e5c2);
    background-repeat: no-repeat;
}
.container {
    max-width: 1360px;
    width: 100%;
    margin: auto;
}
.header__block, .navigation, .promo__block{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__block, .promo__block{
    margin-top: 55px;
    margin-bottom:120px;
}
.navigation {
    width: 659px;
}
.logo__header{
    font-style: italic;
    font-weight: 700;
    font-size: 60px;
    line-height: 55px;
    background: linear-gradient(150deg, #05707a 0%, #29d6e6 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.link__header{
    font-weight: 500;
    font-size: 32px;
    color: #000;
    text-decoration: none;
}
.button__header{
    background: #e0c493;
    width: 250px;
    height: 50px;
    border-radius: 100px;
    font-weight: 500;
    font-size: 20px;
    border: none;
}
.promo__desc {
    width: 500px;
}
.promo__desc > p {
    font-weight: 500;
    font-size: 28px;
    line-height: 211%;
    letter-spacing: 0.13em;
    color: #000;
}
.button__promo {
    margin-top: 30px;
}
.button__promo:hover {
    animation: pulse 2s ease infinite;
}
@keyframes pulse {
    0% {font-size: 20px;}
    50% {font-size: 25px;}
    100% {font-size: 20px;}
}
@media (max-width: 420px) {
    .container {
        max-width: 400px;
        width: 100%;
    }
    p, a, .button__header{
        font-size: 16px!important;
    }
    .header__block, .promo__block, .navigation {
        flex-direction: column;
    }
    .header__block, .navigation {
        align-items: flex-start;
    }
    .promo__img, .promo__desc, .navigation{
        max-width: 400px;
        height: auto;
    }
    .header__block {
        margin-bottom: 20px;
    }
}
@media (max-width: 768px) {
    .button__header, .link__header {
        font-size: 14px;
        padding: 5px 5px;
        width: 220px;
        height: 35px;
    }
    p {
        font-size: 18px!important;
    }
    .logo__header {
        width: 240px;
        font-size: 24px;
    }
    .navigation {
        width: 370px;
    }
    .header__block {
        margin-bottom: 0;
    }
}
@media (max-width: 1024px) {
    .button__header, .link__header {
        font-size: 18px;
        padding: 5px 5px;
        width: 220px;
        height: 35px;
    }
    p {
        font-size: 20px!important;
    }
    .logo__header {
        width: 300px;
        font-size: 46px;
    }
    .navigation {
        width: 430px;
    }
    .header__block {
        margin-bottom: 0;
    }
}